
<div class = "container">
       
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
          
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>
            
                  </h5>
                  <h3 class="card-subtitle mb-2 text-muted">User Profile</h3>
                  <h3 text-align="left">Name: Shreyas</h3>
                  <h3>Rollno: {{rollno}}</h3>
                  <h3>Usertype: {{usertype}}</h3>
                  <h3>Password: {{password}}</h3>
                  <button type="button" class="btn btn-warning" routerLink="/login">Logout</button>
              
                </div>
              </div>
           
        </div>
    </div>
</div> 


