<h1 align="center"><b><u>EXAMS</u></b></h1>

   <!--   <mat-grid-list cols="3" rowHeight="2:1">
     
        <div class = "container">      
<div *ngFor="let item of examsdata;"> 
    
    <mat-grid-tile>
    <button mat-raised-button color="primary" name="{{item.examid}}" id="{{item.examid}}"  (click)="showQues($event)">
        Exam id:- {{item.examid}}
        <br>
        Name:- {{item.exam_name}}
       <br>
       Max-Marks:- {{item.max_marks}}
    </button>
</mat-grid-tile>

</div>  
</div>
</mat-grid-list>  -->
 <mat-grid-list cols="3" rowHeight="2:1">
<div>
    <div *ngFor="let item of examsdata;">
        <mat-grid-tile routerLink="/questions">
        <button class = "btn btn-info btn-lg" name="{{item.examid}}" id="{{item.examid}}"  (click)="showQues($event)" height="200px" width="300px">
            <mat-icon aria-hidden="false" aria-label="Example home icon" siz>assignment</mat-icon>
            <br>
            Exam Name:-{{item.exam_name}}
            <br>
            Max-Marks:-{{item.max_marks}}
        </button>
      
            <!-- <button mat-flat-button color="primary" id="{{item.examid}}"  (click)="showQues($event)"> -->
        </mat-grid-tile>

    </div> 
</div>
</mat-grid-list> 