.mat-icon {
    transform: scale(3);
    
}

  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
 
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    text-align: center;
    background-color: whitesmoke;
    height: 100%;
    width: 90%;
  }
  h1 {
    text-align: center;
  }
  

  .card:hover {
    box-shadow: 0px 30px 30px rgba(0,0,0,0.2);
   } 
   .mat-icon {
    transform: scale(3);
}

