<!-- <app-registration></app-registration> -->
<!-- <button mat-raised-button color="warn">Submit</button> -->
 <div class="topnav">
  
    
  <a routerLink="home" routerLink="home">Home</a>
  <a routerLink="contact-us" >Contact</a>
  <a routerLink="about-us" >About</a>
  
  

</div>
<ng-template #hi>
    
    <div class="topnav">
    <a routerLink="Myprofile">My Profile</a>
    <a routerLink="Myexams" >My Exams</a>
    <a routerLink="Myexams" >Give Exam</a>
    <button mat-raised-button style="float: right;margin:5px;">Logout</button>


</div>
</ng-template>

<br>
<router-outlet></router-outlet>
