<!-- 
<div class="row">
    <div class="column">
       
    </div>
    <div class="column">
      
        
    </div>

    <div class="column">
        <mat-card class="card" routerLink="/exam" color="warn">
            <mat-card-content>
                 <mat-card-title>Give Test</mat-card-title>
                 <mat-card-subtitle> </mat-card-subtitle>
            </mat-card-content>
        </mat-card>
    </div>
  </div> -->
  <h1 align="center"><b><u>STUDENT DASHBOARD</u></b></h1>

<br><br><br>
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card class="card" routerLink="/exam" color="warn" align="left">
            <mat-card-content>
                 <mat-card-title>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" siz>add_chart</mat-icon>

                 </mat-card-title>
                 <mat-card-subtitle> Give Exam </mat-card-subtitle>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card" routerLink="/Myexams" color="warn">
            <mat-card-content>
                 <mat-card-title>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" siz>analytics</mat-icon>

                 </mat-card-title>
                 <mat-card-subtitle>My Exams</mat-card-subtitle>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    

    <mat-grid-tile>
        <mat-card class="card" routerLink="/userprofile" color="warn">
            <mat-card-content>
                 <mat-card-title>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" siz>perm_contact_calender</mat-icon>
                 </mat-card-title>
                 <mat-card-subtitle>My Profile</mat-card-subtitle>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>






