<!-- <h1 class="display-4" align="center">

</h1> -->
<div class="jumbotron">
    <h1 class="display-4"><strong>Exam Portal</strong>
    
    <a class="btn btn-dark btn-lg" routerLink="/login"  role="button" style="float: right;margin: 5px;">Sign in</a>
   <a class="btn btn-dark btn-lg" routerLink="/register" role="button" style="float: right;margin: 5px;">Sign up</a>
</h1>
  </div>
<!-- <div class="container">


<div class="jumbotron">
    <h1 class="display-4" align="center">
        EXAM PORTAL    
  <button mat-raised-button	  class="my-class" routerLink="/register" style="float: right;margin:5px;">Register</button>
    <button mat-raised-button  class="my-class"	  routerLink="/login" style="float: right; margin:5px;" >Login</button>
</h1>
    <!-- <p class="lead" align="center"></p> -->
    <!-- <hr class="my-4">
   
    <p class="lead"> -->
    
    <!-- </p> -->
<!-- </div>
</div> -->